<a href="https://colab.research.google.com/github/zahra-ziaei/fast-fashion-project/blob/main/simply_southern_hourly.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas  as pd

25 march data has probelm: after 11:34 am jumps to 11.16 pm

In [9]:
from google.colab import files
uploaded=files.upload()

Saving Entrance_0021ac0419170046_Export_Jan-31-2022-to-Feb-28-2022.csv to Entrance_0021ac0419170046_Export_Jan-31-2022-to-Feb-28-2022.csv

In [10]:
entrance_May=pd.read_csv('Entrance_0021ac0419170046_Export_Apr-30-2022-to-May-30-2022_3322.csv')
entrance_Apr=pd.read_csv('Entrance_0021ac0419170046_Export_Mar-31-2022-to-Apr-30-2022.csv')
entrance_March=pd.read_csv('Entrance_0021ac0419170046_Export_Feb-28-2022-to-Mar-31-2022.csv')
entrance_Feb=pd.read_csv('Entrance_0021ac0419170046_Export_Jan-31-2022-to-Feb-28-2022.csv')

In [31]:
entrance = pd.concat([entrance_May,entrance_Apr,entrance_March,entrance_Feb])

In [32]:
entrance['date']=pd.to_datetime(entrance['Timestamp(America/New_York)'])

/usr/local/lib/python3.7/dist-packages/dateutil/parser/_parser.py:1212: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)
/usr/local/lib/python3.7/dist-packages/dateutil/parser/_parser.py:1212: UnknownTimezoneWarning: tzname EST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

In [33]:
entrance['month']= entrance['date'].dt.month
entrance['day']= entrance['date'].dt.day
entrance['hour']= entrance['date'].dt.hour
entrance['minute']= entrance['date'].dt.minute
entrance['day in week']= entrance['date'].dt.dayofweek

In [34]:
entrance = entrance[entrance['date'] >= '2022-02-17']

In [24]:
entrance=entrancee.reset_index(drop=True)

,Timestamp(America/New_York),In,Out,Entrance L1,Entrance L2,Entrance L3,Entrance L4,Entrance L5,Entrance L6,date,...,minute,day in week,out_lag,in_lag,entrance1_lag,entrance2_lag,entrance3_lag,entrance4_lag,entrance5_lag,entrance6_lag
16698,"Feb 17, 2022, 04:59:03 AM EST",1531,1569,8,2,7,17,6,1,2022-02-17 04:59:03,...,59,3,1569.0,1531.0,8.0,2.0,7.0,17.0,6.0,1.0
16758,"Feb 17, 2022, 03:59:03 AM EST",1531,1569,8,2,7,17,6,1,2022-02-17 03:59:03,...,59,3,1569.0,1531.0,8.0,2.0,7.0,17.0,6.0,1.0
16818,"Feb 17, 2022, 02:59:03 AM EST",1531,1569,8,2,7,17,6,1,2022-02-17 02:59:03,...,59,3,1569.0,1531.0,8.0,2.0,7.0,17.0,6.0,1.0
16878,"Feb 17, 2022, 01:59:03 AM EST",1531,1569,8,2,7,17,6,1,2022-02-17 01:59:03,...,59,3,1569.0,1531.0,8.0,2.0,7.0,17.0,6.0,1.0
16938,"Feb 17, 2022, 12:59:03 AM EST",1531,1569,8,2,7,17,6,1,2022-02-17 00:59:03,...,59,3,1569.0,1531.0,8.0,2.0,7.0,17.0,6.0,1.0

In [35]:
entrance.drop_duplicates(keep='first',subset=['month','day','hour'],inplace=True)

In [36]:
entrance['out_lag']=entrance['Out'].shift(1)
entrance['in_lag']=entrance['In'].shift(1)
entrance['entrance1_lag']=entrance['Entrance L1'].shift(1)
entrance['entrance2_lag']=entrance['Entrance L2'].shift(1)
entrance['entrance3_lag']=entrance['Entrance L3'].shift(1)
entrance['entrance4_lag']=entrance['Entrance L4'].shift(1)
entrance['entrance5_lag']=entrance['Entrance L5'].shift(1)
entrance['entrance6_lag']=entrance['Entrance L6'].shift(1)

In [37]:
entrance.columns

Index(['Timestamp(America/New_York)', 'In', 'Out', 'Entrance L1',
       'Entrance L2', 'Entrance L3', 'Entrance L4', 'Entrance L5',
       'Entrance L6', 'date', 'month', 'day', 'hour', 'minute', 'day in week',
       'out_lag', 'in_lag', 'entrance1_lag', 'entrance2_lag', 'entrance3_lag',
       'entrance4_lag', 'entrance5_lag', 'entrance6_lag'],
      dtype='object')

In [38]:
entrance['out_hourly']=entrance['out_lag']-entrance['Out']
entrance['in_hourly']=entrance['in_lag']-entrance['In']
entrance['entrance1_hourly']=entrance['entrance1_lag']-entrance['Entrance L1']
entrance['entrance2_hourly']=entrance['entrance2_lag']-entrance['Entrance L2']
entrance['entrance3_hourly']=entrance['entrance3_lag']-entrance['Entrance L3']
entrance['entrance4_hourly']=entrance['entrance4_lag']-entrance['Entrance L4']
entrance['entrance5_hourly']=entrance['entrance5_lag']-entrance['Entrance L5']
entrance['entrance6_hourly']=entrance['entrance6_lag']-entrance['Entrance L6']

In [39]:
entrance.drop(['In', 'Out', 'Entrance L1',  'Entrance L2', 'Entrance L3', 'Entrance L4', 'Entrance L5', 'Entrance L6','out_lag','in_lag',
'entrance1_lag', 'entrance2_lag', 'entrance3_lag', 'entrance4_lag', 'entrance5_lag', 'entrance6_lag','Timestamp(America/New_York)','minute'], axis=1, inplace=True)

In [72]:
entrance.head()

,date,month,day,hour,day in week,out_hourly,in_hourly,entrance1_hourly,entrance2_hourly,entrance3_hourly,entrance4_hourly,entrance5_hourly,entrance6_hourly
0,2022-05-30 09:32:01,5,30,9,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,2022-05-30 08:59:01,5,30,8,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
93,2022-05-30 07:59:01,5,30,7,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
153,2022-05-30 06:59:01,5,30,6,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
213,2022-05-30 05:59:01,5,30,5,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [85]:
check=entrance.groupby(['month','day']).count()
check.head(60)

           date  hour  day in week  out_hourly  in_hourly  entrance1_hourly  \
month day
2     17     24    24           24          24         24                24
      18     24    24           24          24         24                24
      19     24    24           24          24         24                24
      20     24    24           24          24         24                24
      21     24    24           24          24         24                24
      22     24    24           24          24         24                24
      23     24    24           24          24         24                24
      24     24    24           24          24         24                24
      25     24    24           24          24         24                24
      26     24    24           24          24         24                24
      27     24    24           24          24         24                24
      28     24    24           24          24         24                24
3     1      24    24           24          24         24                24
      2      24    24           24          24         24                24
      3      24    24           24          24         24                24
      4      24    24           24          24         24                24
      5      24    24           24          24         24                24
      6      24    24           24          24         24                24
      7      24    24           24          24         24                24
      8      24    24           24          24         24                24
      9      24    24           24          24         24                24
      10     24    24           24          24         24                24
      11     24    24           24          24         24                24
      12     24    24           24          24         24                24
      13     23    23           23          23         23                23
      14     24    24           24          24         24                24
      15     24    24           24          24         24                24
      16     24    24           24          24         24                24
      17     24    24           24          24         24                24
      18     24    24           24          24         24                24
      19     24    24           24          24         24                24
      20     24    24           24          24         24                24
      21     24    24           24          24         24                24
      22     24    24           24          24         24                24
      23     24    24           24          24         24                24
      24     24    24           24          24         24                24
      25     13    13           13          13         13                13
      26     24    24           24          24         24                24
      27     24    24           24          24         24                24
      28     24    24           24          24         24                24
      29     24    24           24          24         24                24
      30     24    24           24          24         24                24
      31     24    24           24          24         24                24
4     1      24    24           24          24         24                24
      2      24    24           24          24         24                24
      3      24    24           24          24         24                24
      4      24    24           24          24         24                24
      5      24    24           24          24         24                24
      6      24    24           24          24         24                24
      7      24    24           24          24         24                24
      8      24    24           24          24         24                24
      9      24    24           24          24         24                24
      10     24    24           24          24         24                24
      11     24    24           24          24         24                24
      12     24    24           24          24         24                24
      13     24    24           24          24         24                24
      14     24    24           24          24         24                24
      15     24    24           24          24         24                24
      16     24    24           24          24         24                24
      17     24    24           24          24         24                24

           entrance2_hourly  entrance3_hourly  entrance4_hourly  \
month day
2     17                 24                24                24
      18                 24                24                24
      19                 24                24                24
      20                 24                24                24
      21                 24                24                24
      22                 24                24                24
      23                 24                24                24
      24                 24                24                24
      25                 24                24                24
      26                 24                24                24
      27                 24                24                24
      28                 24                24                24
3     1                  24                24                24
      2                  24                24                24
      3                  24                24                24
      4                  24                24                24
      5                  24                24                24
      6                  24                24                24
      7                  24                24                24
      8                  24                24                24
      9                  24                24                24
      10                 24                24                24
      11                 24                24                24
      12                 24                24                24
      13                 23                23                23
      14                 24                24                24
      15                 24                24                24
      16                 24                24                24
      17                 24                24                24
      18                 24                24                24
      19                 24                24                24
      20                 24                24                24
      21                 24                24                24
      22                 24                24                24
      23                 24                24                24
      24                 24                24                24
      25                 13                13                13
      26                 24                24                24
      27                 24                24                24
      28                 24                24                24
      29                 24                24                24
      30                 24                24                24
      31                 24                24                24
4     1                  24                24                24
      2                  24                24                24
      3                  24                24                24
      4                  24                24                24
      5                  24                24                24
      6                  24                24                24
      7                  24                24                24
      8                  24                24                24
      9                  24                24                24
      10                 24                24                24
      11                 24                24                24
      12                 24                24                24
      13                 24                24                24
      14                 24                24                24
      15                 24                24                24
      16                 24                24                24
      17                 24                24                24

           entrance5_hourly  entrance6_hourly
month day
2     17                 24                24
      18                 24                24
      19                 24                24
      20                 24                24
      21                 24                24
      22                 24                24
      23                 24                24
      24                 24                24
      25                 24                24
      26                 24                24
      27                 24                24
      28                 24                24
3     1                  24                24
      2                  24                24
      3                  24                24
      4                  24                24
      5                  24                24
      6                  24                24
      7                  24                24
      8                  24                24
      9                  24                24
      10                 24                24
      11                 24                24
      12                 24                24
      13                 23                23
      14                 24                24
      15                 24                24
      16                 24                24
      17                 24                24
      18                 24                24
      19                 24                24
      20                 24                24
      21                 24                24
      22                 24                24
      23                 24                24
      24                 24                24
      25                 13                13
      26                 24                24
      27                 24                24
      28                 24                24
      29                 24                24
      30                 24                24
      31                 24                24
4     1                  24                24
      2                  24                24
      3                  24                24
      4                  24                24
      5                  24                24
      6                  24                24
      7                  24                24
      8                  24                24
      9                  24                24
      10                 24                24
      11                 24                24
      12                 24                24
      13                 24                24
      14                 24                24
      15                 24                24
      16                 24                24
      17                 24                24

In [44]:
entrance.to_csv('hourly_visit.csv')
files.download('hourly_visit.csv')

In [45]:
entrance['out_hourly'].describe()

count    2445.000000
mean        8.969734
std        15.322632
min         0.000000
25%         0.000000
50%         0.000000
75%        14.000000
max       226.000000
Name: out_hourly, dtype: float64

In [46]:
entrance.sort_values(by=['out_hourly'],ascending=False)

,date,month,day,hour,day in week,out_hourly,in_hourly,entrance1_hourly,entrance2_hourly,entrance3_hourly,entrance4_hourly,entrance5_hourly,entrance6_hourly
8450,2022-03-25 11:34:02,3,25,11,4,226.0,125.0,8.0,6.0,9.0,36.0,23.0,36.0
32900,2022-05-07 12:59:02,5,7,12,5,95.0,102.0,1.0,6.0,6.0,23.0,5.0,3.0
22715,2022-05-14 14:59:02,5,14,14,5,92.0,76.0,3.0,2.0,1.0,7.0,13.0,9.0
22775,2022-05-14 13:59:02,5,14,13,5,91.0,106.0,2.0,5.0,2.0,6.0,3.0,7.0
1112,2022-05-29 14:59:03,5,29,14,6,90.0,87.0,0.0,1.0,1.0,10.0,7.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19849,2022-04-16 20:59:01,4,16,20,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19789,2022-04-16 21:59:02,4,16,21,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19729,2022-04-16 22:59:02,4,16,22,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16938,2022-02-17 00:59:03,2,17,0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0,2022-05-30 09:32:01,5,30,9,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
check=entrance[(entrance['month']==4)&(entrance['day']==25)]

In [63]:
entrance[(entrance['month']==3)&(entrance['day']==25)].head(24)

,date,month,day,hour,day in week,out_hourly,in_hourly,entrance1_hourly,entrance2_hourly,entrance3_hourly,entrance4_hourly,entrance5_hourly,entrance6_hourly
8406,2022-03-25 23:59:04,3,25,23,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8450,2022-03-25 11:34:02,3,25,11,4,226.0,125.0,8.0,6.0,9.0,36.0,23.0,36.0
8485,2022-03-25 10:59:02,3,25,10,4,19.0,6.0,1.0,0.0,0.0,0.0,2.0,1.0
8546,2022-03-25 09:59:02,3,25,9,4,26.0,14.0,0.0,0.0,4.0,3.0,1.0,2.0
8606,2022-03-25 08:59:02,3,25,8,4,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
8666,2022-03-25 07:59:01,3,25,7,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8726,2022-03-25 06:59:01,3,25,6,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8786,2022-03-25 05:59:01,3,25,5,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8846,2022-03-25 04:59:01,3,25,4,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8909,2022-03-25 03:59:01,3,25,3,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8969,2022-03-25 02:59:01,3,25,2,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9029,2022-03-25 01:59:00,3,25,1,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9090,2022-03-25 00:59:05,3,25,0,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [87]:
entrance.drop("2022-03-25 11:34:02",inplace=True)

KeyError: ignored